
  <form method="POST" action="create_account">
  	<legend>Create an Account:</legend>
  	<label for="name">Username:</label>
  	<input type="text" id="name" name="name" /><br>
  	<label for="password">Password:</label>
  	<input type="password" id="password" name="password" /><br>
  	<input type="hidden" name="page" value="/dashboard" />
  	<input type="submit" class="btn btn-default" />
  </form>