<h3>Dashboard</h3>

<hr>
<p>Account Options</p>
<ul>
  <li>
    <a href="/delete_account">Delete my account</a>
  </li>
</ul>
<hr>
<p>Friends</p>
<ul>
  <li>
    Friend List (coming soon)
  </li>
  <li>
    <a href="/add_friend">Add a friend</a>
  </li>
  <li>
    Check your friend requests (coming soon)
  </li>
</ul>
<hr>
<p>Stories You Own</p>
<ul>
  <li>
    (Stories go here)
  </li>
  <li>
    (New Story)
  </li>
</ul>
<hr>
<p>Other Stories</p>
<ul>
  <li>
    (Stories go here)
  </li>
</ul>