<h3>Dashboard</h3>

<hr>
<p>Account Options</p>
<ul>
  <li>
    <a href="/delete_account">Delete my account</a>
  </li>
</ul>
<hr>
<p>Friends</p>
<ul>
  <li>
    <a href="/check_friends">Friend List</a>
  </li>
  <li>
    <a href="/add_friend">Add a friend</a>
  </li>
  <li>
    <a href="/check_friend_requests">Manage friend requests</a>
  </li>
</ul>
<hr>
<p>My Stories</p>
<ul>
  <li>
    (Stories go here)
  </li>
  <li>
    (New Story)
  </li>
</ul>
<hr>
<p>Other Stories</p>
<ul>
  <li>
    (Stories go here)
  </li>
</ul>