<h1>Welcome to {{sitename}}!</h1>

<form method="POST" action="test">
  Test:
  <input type="text" name="text" />
  <input type="text" name="salt" />
  <input type="submit" />
</form>

<form method="POST" action="create_account">
	<legend>Create an Account:</legend>
	<label for="name">Username:</label>
	<input type="text" id="name" name="name" /><br>
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" /><br>
	<input type="submit" />
</form>