<p>
  Welcome to {{sitename}}! This site is in the very early stages of construction. Please come back later, or play around at your own risk!
</p>
<p>
  New here? <a class="btn btn-default" href="/create_account">Create an account!</a>
</p>